# Arquivos do sistema
.DS_Store
Thumbs.db

# Dependências
node_modules/
package-lock.json
yarn.lock

# Ambiente
.env
.env.local
.env.development
.env.production

# Logs
*.log
logs/

# IDE
.vscode/
.idea/

# Banco de dados (caso tenha arquivos SQLite)
*.sqlite
*.sqlite3

# Vite cache
.cache/

# Builds
dist/
build/

# Backend específico
backend/config/config.json
backend/storage/

# Frontend específico
frontend/.vite/
frontend/dist/